* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("Bilder/background.jpg");
    color: black;
    font-family: serif;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.farbe_1 { color: #D12918;text-decoration: none;}
.farbe_2 {color:#E79A22; text-decoration: none;}
.farbe_3 {color:#DB661D; text-decoration: none;}

.farbe_1:hover,
.farbe_2:hover,
.farbe_3:hover {
    text-decoration: underline;
}


/* ----------------------------------------------- */
/* Reusable */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}
  

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', serif;
}

h1 {
    word-spacing: 20px;
    letter-spacing: 1px;
    font-size: 320%;
    font-weight: 700;
    
}

h2 {
    margin-bottom: 4%;
}

.middle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



h4 {
    font-weight: 700;
    font-size: 175%;
    margin-top: 10%;
}

h5 {
    font-size: 40px;
    margin-bottom: 0;
    height: 50px;
}

blockquote {
    text-align: center;
    margin-bottom: 10px;
    padding: 0 10%;
}

strong {
    background-color: white;
    border: 5px solid white;
}

.white {
    color: white;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */



.logo {
    height: 40px;
    width: auto;
    float: left;
    margin-top: 30px;
}

.main-nav {
    float: right;
    margin-top: 44px;
}

.main-nav img {
    height: 25px;
    width: auto;
    margin-left: 10px;
}

.hero-text-box {
    margin-top: 50px;
}

.small-bottles img {
    height: 350px;
    width: auto;
    margin-right: 36px;
    margin-top: 15px;
    margin-left: 10px;
}

.bottle {
    float: left;
}

.bottle img:hover {
    transition: 0.2s;
    transform:scale(1.06, 1.06);
}

.small-text {
    margin-top: 50px;
    margin-left: 55px;
}

.jahresanzahl {
    margin-top: 30px;
    margin-left: 7px;
}


/* ----------------------------------------------- */
/* WillGrant */
/* ----------------------------------------------- */

.willGrant {
    margin-top: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.5)), url("Bilder/Kessel.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 200px;
    padding-top: 200px;
    background-attachment: fixed; 
}

/* ----------------------------------------------- */
/* Buttons */
/* ----------------------------------------------- */

.button_1,
.button_2,
.button_3,
.button_4 {
    background-color: white;
    margin-top: 6%;
    width: 150px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button_1 {
    border: 2px solid #D12918;
}

.button_1:hover {
    background-color: #D12918;
    color: white;
    transition: 0.3s;
}

.button_2 {
    border: 2px solid #E79A22;
}

.button_2:hover {
    background-color: #E79A22;
    color: white;
    transition: 0.3s;
}

.button_3:hover {background-color: #DB661D;color: white;transition: 0.3s;}
.button_3 {border: 2px solid #DB661D}

/* ----------------------------------------------- */
/* Produkt */
/* ----------------------------------------------- */

.produkt {
    margin: 4% auto;
}

.großesProduktBild {
    margin-left: 25%;
    height: 700px;
}

.produkttext_links {
    margin-top: 15%;
}

.produkttext_rechts {
    margin-top: 20%;
}

.abtrennung {
    margin-top: 4%;
    width:100%;
    height: auto;
}



/* ----------------------------------------------- */
/* Testemonials */
/* ----------------------------------------------- */

.testemonials {
    margin-bottom: 10%;
    margin-top: 10%;
}

/* ----------------------------------------------- */
/* Abschluss */
/* ----------------------------------------------- */

.abschluss {
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.356)), url("Bilder/Fässer.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed; 
}

.letzter-text {
    width: 70%;
    margin: 40vh auto 0 auto;
    color: white;
    font-size: 140%;
    text-align: center;
}

/* ----------------------------------------------- */
/* Footer */
/* ----------------------------------------------- */

footer {
    padding: 3%;
    background-color: white;
    text-align:left;
}

ul a {
    color: black;
    text-decoration: none;

}

ul a:hover{
    color: #D12918;
    text-decoration: underline;
}

/* ----------------------------------------------- */
/* Icon */
/* ----------------------------------------------- */

ion-icon {
    font-size: 25px;
    color: #E79A22;
    text-align: center;
}



.quellen {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}


/* ------------------- Tablet -------------------*/

@media screen and (max-width: 1024px){
    .row {
        width: 800px;
    }
}





/* ----------------------------------------------- */
/* Queries */
/* ----------------------------------------------- */


/* 1025 - 1200px */
@media only screen and (max-width: 1200px){
    .row,
    .hero-text-box { padding: 0 2%; }
    .col { 
        margin: 0 0 2% 0;
    }

    h1 {font-size:260%;}
    h2 {font-size: 110%;}
    h3 { font-size: 90%;}
    h4 {font-weight: 700;font-size: 155%; margin-top: 3%;}

    section {padding-left: 2%;padding-right: 2%;}

    .logo { height: 37px;}
    .main-nav img {height: 23px;}

    .small-text {margin-left: 2%; }
    .small-bottles {margin-left: 2%;}

    .small-bottles img {
        height: 270px;
        margin-top: 50px;
    }

    .produkttext_links {margin-top: 20%;}
    .produkttext_rechts {margin-top: 24.5%; padding-left: 3%;}
}




/* 767 - 1024 */
@media only screen and (max-width: 1024px) {
    .row,
    .hero-text-box { padding: 0 2%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    .row {width: 100%;}

    body {font-size: 16px; }

    h1 {font-size:200%;}
    h2 {font-size: 110%;}
    h3 {font-size: 90%;}
    h4 {font-weight: 700;font-size: 155%; margin-top: 3%;}
    

    .logo { height: 33px;}
    .main-nav img {height: 20px;}

    .small-text {margin: 2% 2%;}
    .small-bottles img {
        height: 300px;
        margin-right: 60px;
        margin-top: 30px;
    }

    section {padding-left: 3%;}

    .großesProduktBild {
        height: 500px;
        padding-left: 15%;
    }

    .button_1,
    .button_2,
    .button_3,
    .button_4 {margin-top: 3%; font-size: 120%};
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 768px) {
    .row,
    .hero-text-box { padding: 0 2%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }

    body {font-size: 16px; }

    h1 {font-size:180%;}
    h2 {font-size: 110%;}
    h3 {font-size: 100%; padding-left: 15px;}
    h4 {font-weight: 700;font-size: 155%; margin-top: 3%;}

    .logo { height: 25px;}
    .main-nav img {height: 20px; padding-left: 0%;}

    .small-text {margin: 2% 2%;}
    .small-bottles img {
        height: 400px;
        margin-right: 60px;
        margin-top: 30px;
    }

    .großesProduktBild {
        height: 400px;
        padding-right: 15%;
    }
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    h1 {font-size:160%;}
    h2 {font-size: 105%; margin-bottom: 10%;}
    h3 {font-size: 100%; padding-left:11px;}
    h4 {font-weight: 600;font-size: 155%; margin-top: 3%;}

    section {padding-left: 4%; padding-right: 4%;}

    .logo { height: 20px; margin-top: 6vh; margin-left: 2%;}
    .main-nav {margin-top: 0px;}
    .main-nav img {height: 0px; }
    .hero-text-box {margin-top: 30px;}

    .small-text {margin: 2% 2%;}
    .small-bottles img {
        height: 383px;
        width: auto;
        margin-right: 60px;
        margin-top: 30px;
    }

    .großesProduktBild {
        height: auto;
        width: 30vh;
        margin-left: 15%;
        
    }

    .button_1,
    .button_2,
    .button_3,
    .button_4 {margin-top: 3%; font-size: 100%};

}
