* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("Bilder/background.jpg");
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.farbe_1 {
    color: #D12918;
    text-decoration: none;
}

.farbe_1:hover {
    text-decoration: underline;
}

/* ----------------------------------------------- */
/* Reusable */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}



h1 {
    word-spacing: 20px;
    letter-spacing: 1px;
    font-size: 320%;
    font-weight: 700;
}

h2 {
    margin-bottom: 4%;
}

.middle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    
}

h4 {
    font-weight: 700;
    font-size: 175%;
    margin-top: 10%;
}

h5 {
    font-size: 40px;
    margin-bottom: 0;
    height: 50px;
}

blockquote {
    text-align: center;
    margin-bottom: 10px;
    padding: 0 10%;
}

strong {
    background-color: white;
    border: 5px solid white;
}

.white {
    color: white;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

.logo {
    height: 40px;
    width: auto;
    float: left;
    margin-top: 30px;
}

.main-nav {
    float: right;
    margin-top: 44px;
}

.main-nav img {
    height: 25px;
    width: auto;
    margin-left: 10px;
}

.hero-text-box {
    margin-top: 50px;
}

.small-bottles img {
    height: 350px;
    width: auto;
    margin-right: 36px;
    margin-top: 15px;
    margin-left: 10px;
}

.bottle {
    float: left;
}

.small-text {
    margin-top: 50px;
    margin-left: 55px;
}

.jahresanzahl {
    margin-top: 30px;
}


/* ----------------------------------------------- */
/* WillGrant */
/* ----------------------------------------------- */

.willGrant {
    margin-top: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.5)), url("Bilder/Kessel.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 200px;
    padding-top: 200px;
    
}

/* ----------------------------------------------- */
/* Buttons */
/* ----------------------------------------------- */

.button_1,
.button_2,
.button_3,
.button_4 {
    background-color: white;
    margin-top: 6%;
    width: 150px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button_1 {
    border: 2px solid #D12918;
}

.button_1:hover {
    background-color: #D12918;
    color: white;
    transition: 0.3s;
}

/* ----------------------------------------------- */
/* Produkt */
/* ----------------------------------------------- */

.produkt {
    margin: 4% auto;
}

.großesProduktBild {
    margin-left: 25%;
    height: 700px;
}

.produkttext_links {
    margin-top: 15%;
}

.produkttext_rechts {
    margin-top: 20%;
}

.abtrennung {
    margin-top: 4%;
    width:100%;
    height: auto;
}



/* ----------------------------------------------- */
/* Testemonials */
/* ----------------------------------------------- */

.testemonials {
    margin-bottom: 10%;
    margin-top: 10%;
}

/* ----------------------------------------------- */
/* Abschluss */
/* ----------------------------------------------- */

.abschluss {
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.356)), url("Bilder/fässer.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.letzter-text {
    width: 70%;
    margin: 40vh auto 0 auto;
    color: white;
    font-size: 140%;
    text-align: center;
}

/* ----------------------------------------------- */
/* Footer */
/* ----------------------------------------------- */

footer {
    padding: 3%;
    background-color: white;
    text-align:left;
}

ul a {
    color: black;
    text-decoration: none;

}

ul a:hover{
    color: #D12918;
    text-decoration: underline;
}

/* ----------------------------------------------- */
/* Icon */
/* ----------------------------------------------- */

ion-icon {
    font-size: 25px;
    color: #E79A22;
    text-align: center;
}



@media(max-width: 7600px) {
    .class {
        display: block;
    }
}
